*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  margin: auto;
  width: 30%;
}
body {
  background-color: #44ff44;
  margin: 0;
}
.title {
  text-align: center;
}
.site-links {
  color: black;
  text-align: center;
  text-decoration: none;
}
.buttonSelect {
  background-color: #ffffff;
  height: 5vw;
  width: 30vw;
  transition-duration: 0.2s;
  font-size: 1.5vw;
  border-radius: 15px;
  border-width: 3px;
  border-color: gray;
  margin: 0.5vw;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  top: 0;
}
footer {
  color: black;
  text-align: center;
  text-decoration: none;
}
.buttonSelect:hover {
  position: relative;
  top: -5px;
}
.heads {
  display: flex;
  align-items: center;
  background-color: #444444;
  width: 100vw;
  height: 3vw;
  margin: 0;
  gap: 5vw;
}
.heads a {
  display: flex;
  background-color: #ffffff;
  border: 3px solid gray;
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  text-decoration: none;
  color: black;
  padding: 3px;
  transition-duration: 0.3s;
  width: 5vw;
  height: 2vw;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}
.heads a:hover {
  background-color: #000000;
  border: 3px solid white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 3px;
  text-align: center;
  transition-duration: 0.3s;
}
.heads h3 {
  color: lightgray;
  font-size: 1vw;
  margin: 1vw;
}
