img {
  margin: auto;
  width: 30%;
}
body {
  text-align: center;
  background-color: #44ff44;
}
.site-links {
  color: black;
  text-align: center;
  text-decoration: none;
}
.buttonSelect {
  background-color: #ffffff;
  height: 5vw;
  width: 30vw;
  transition-duration: 0.3s;
  font-size: 1.5vw;
  border-radius: 15px;
  border-width: 3px;
  border-color: gray;
  margin: 0.5vw;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
footer {
  color: black;
  text-align: center;
  text-decoration: none;
}
.buttonSelect:hover {
  background-color: #000000;
  color: white;
  width: 31vw;
  height: 6vw;
  transition-duration: 0.3s;
  font-size: 1.65vw;
  border-radius: 15px;
  border-color: white;
  margin: 0vw;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
table {
  margin: auto;
  text-decoration: none;
}
