img {
  margin:auto;
}
body {
  text-align: center;
  background-color: #44FF44;
}
.site-links {
  color: black;
  text-align: center;
  text-decoration: none;
}
.buttonSelect {
  background-color: #FFFFFF;
  height: 5vw;
  width: 30vw;
  transition-duration: 0.3s;
  font-size: 1.5vw;
  border-radius: 8px;
  border-width: 3px;
  border-color: gray;
}
footer {
  color: black;
  text-align: center;
  text-decoration: none;
}
.buttonSelect:hover {
  background-color: #000000;
  color: white;
  width: 30vw;
  height: 5vw;
  transition-duration: 0.3s;
  font-size: 1.5vw;
  border-radius: 15px;
  border-color: white;
}
table {
  margin: auto;
  text-decoration:none;
}
